<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="bootstrap/js/bootstrap.min.js"></script>

<div class="container-fluid">
  
<ul>
<% @thoughts.each do |thought| %>
  <li><%= thought.to_s %></li>
  <% if thought.description %>
    <ul>
      <li><%= thought.description %></li>
    </ul>
  <% end %>
<% end %>
</ul>

<b>Tags: </b><%= @tags.to_a.map(&:name).join(', ') %>

</div>
